################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZigZag/obj/x86/Debug
/ZigZagEngine/Debug
/Ghostscript/obj/Debug
/.vs/ZigZag.NET/v14
/ZigZag.NET.sdf
/ZigZag.NET.VC.opendb
/ZigZag/bin/Debug
/Debug
/Ghostscript/bin/Debug
